# --- Java & Build Tools ---
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

# --- IDE Specific (VS Code / IntelliJ) ---
.vscode/
.idea/
*.iml
*.iws
.project
.classpath
.settings/
bin/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Docker ---
.docker/
.env

# Backend
backend/target/

# Frontend
frontend/node_modules/
frontend/dist/
